<h1>Edit Question</h1>

<!-- Begin Wrapper -->
<div class="wrapper">
	<!-- Begin Container -->
	<div class="content">
		<div id="comment-wrapper" class="box">
			<!-- Begin Form -->
			<div id="comment-form" class="comment-form">
				<div id="respond">
					<h3 id="reply-title">Edit question</h3>
						

<%= render 'form' %>






				</div><!-- #respond -->	
		  	</div>
			<!-- End Form -->	
		</div>	
		<!-- End Comment Wrapper -->
	</div>
	<div class="clear"></div>
</div>