
<!-- Begin Blog Grid -->
<div class="blog-wrap">
  <!-- Begin Blog -->

<div class="blog-grid" id="quests" style="position: relative; height: 122px; visibility: visible;">

<%= render 'question' %>

</div>
<div id="infinite_scroll">
	<%= will_paginate %>
</div>
</div>

<br>
