
<!-- Begin Blog Grid -->
<div class="blog-wrap">
  <!-- Begin Blog -->

<div class="blog-grid masonry" style="position: relative; height: 122px; visibility: visible;">

<%= render 'question' %>

</div>

<%= will_paginate %>
</div>

<br>
