<h3>Questions asked by <%= @user.email %> </h3>

<% @questions.each do |question| %>
	<div class="questionlist">
		<h3 class="title"><%= link_to question.question, question %></h3>
		<p class="date">created at  <%= question.created_at.strftime("%B, %d, %Y") %></p>
	</div>
<% end %>